/* AddProduct.module.css */
.feedbackContainer {
  max-width: 600px;
  margin: 1.5rem auto;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;
}

.input_cell {
  margin-bottom: 20px;
}

.input_cell label {
  display: block;
  margin-bottom: 5px;
  color: #333;
  font-size: 14px;
}

.input_cell input[type="text"],
.input_cell input[type="number"],
.input_cell textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}

.input_cell textarea {
    min-height: 7.5rem;
}

.input_cell input[type="file"] {
  border: none;
}

.image {
  max-width: 60px;
  height: auto;
  margin-top: 10px;
}

.text {
  color: #666;
}

.btn {
  display: block;
  width: 100%;
  padding: 10px 15px;
  background-color: #0056b3;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.btn:hover {
  background-color: #004494;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .container {
    padding: 15px;
  }
}
