@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
.reset_password_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  background-color: #f5f5f5;
  background-image: url(../../assets/images/authenticate.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: overlay;
}

.form_container {
  width: 40%;
  max-width: 500px;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 1rem;
  box-shadow: 0px 0.1875rem 0.1875rem -0.125rem rgb(0 0 0 / 20%),
    0px 0.1875rem 0.25rem 0px rgb(0 0 0 / 14%),
    0px 0.0625rem 0.5rem 0px rgb(0 0 0 / 12%);
}
.reset_img {
  width: 100%;
  height: 200px;
  object-fit: fill;
  border-radius: 0.5rem;
}

.form_container h1 {
  font-size: 2.5rem;
  color: #151212;
  margin-bottom: 1rem;
  text-align: center;
}

.input {
  width: 100%;
  padding: 0.75rem 1rem;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.error_msg {
  color: #ff0000;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.success_msg {
  color: #3bb19b;
  font-size: 1.25rem;
  font-weight: 500;
  margin-top: 0.5rem;
}

.green_btn {
  width: 100%;
  padding: 0.75rem 1rem;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background: linear-gradient(to right, #f127e6, #f5af19);
  cursor: pointer;
  margin-bottom: 1rem;
}

.login {
  text-align: center;
  margin-top: 1rem;
}

.login a {
  display: inline-block;
  padding: 0.75rem 1rem;
  font-size: 1.25rem;
  text-decoration: none;
  background-color: #3498db; /* Button background color */
  color: #fff; /* Button text color */
  border-radius: 0.5rem; /* Button border radius */
  transition: background-color 0.3s ease-in-out;
}

.login a:hover {
  background-color: #2980b9;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .form_container {
    width: 60%;
  }
}

/* For screens below 768px */
@media only screen and (max-width: 768px) {
  .form_container {
    width: 100%;
    height: 90vh;
    margin-top: 2rem;
    box-shadow: none;
    border-radius: 0;
  }
}
