/* Updated CSS */
.container {
  text-align: center;
  padding: 2rem;
}

.heading {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.main {
  display: flex;
  align-items: center; /* Vertically align the icons and cards */
}

.icon {
  display: none; /* Hide the icons initially on smaller screens */
}

/* Media queries for responsiveness */
@media screen and (max-width: 1023px) {
  .icon {
    display: none;
  }

  .main {
    flex-direction: column; /* Stack the icons and cards vertically on smaller screens */
  }

  .card_container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .card_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem;
  }
}

@media screen and (min-width: 1024px) {
  .card_container {
    grid-template-columns: repeat(4, 1fr);
  }

  .icon {
    display: flex;
    justify-content: space-between; /* Position the icons at the ends of the cards */
    align-items: center; /* Vertically align the icons and cards */
    margin: 0 1rem;
  }
}
