/* Define breakpoints for responsiveness */
@media screen and (max-width: 767px) {
  .review_card {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  .review_card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
}

@media screen and (min-width: 768px) {
  .review_card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 2rem;
    border-radius: 0 3rem 0 3rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }

  .review_card img {
    width: 50%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 0 0.5rem 0 0;
  }

  .icons {
    display: flex;
    gap: 0.25rem;
    padding: 0.5rem;
    background-color: #f1f1f1;
    border-radius: 0.5rem;
  }

  .icons svg {
    color: #ffc107;
  }

  .review_content {
    width: 50%;
    padding: 1rem;
  }
}

.review_content p {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

.review_card p:last-child {
  margin-top: auto;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  background-color: #f1f1f1;
  border-radius: 0 0 0.5rem 0;
}
